$border-radius: 15px;
$progress-bar-height: 10px;
$color-light-grey: rgba(233, 233, 233, 0.349);
$color-green: #10B894;
$color-orange: #FF6C37;

progress{
    appearance: none;
    height: $progress-bar-height;
    width: inherit;
    &::-webkit-progress-bar{
      background-color: $color-light-grey;
      border-radius: $border-radius;
    }
    &::-webkit-progress-value {
      background-image:
          -webkit-linear-gradient(left, $color-green, $color-orange);
      border-radius: $border-radius; 
    }
}