$font-family: "Titillium Web";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
body {
  font-family: $font-family, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(assets/images/background.svg);
  margin: 0;
}
body {
  padding-top: 10%;
}

// SIZES
$font-size-1: calc(2em + 1.5vmin);
$font-size-2: calc(1.25em + 1vmin);
$font-size-3: calc(1em + 1vmin);
$font-size-4: calc(0.5em + 1vmin);
$font-size-5: calc(0.3em + 1vmin);
$font-size-6: calc(0.2em + 1vmin);

$heading-1: $font-size-1;
$heading-2: $font-size-2;
$heading-3: $font-size-3;
$heading-4: $font-size-4;
$heading-5: $font-size-5;
$text: $font-size-6;
$icon-size: $heading-5;

// WIDTHS
$max-width: 80%;

// PADDINGS/MARGINS and BORDERS
$margin-section: $font-size-1;
$margin-1: $font-size-1;
$margin-2: $font-size-2;
$margin-3: $font-size-3;
$margin-4: $font-size-6;
$padding-button: $text $font-size-3;
$border-radius: $text;
$border-button: $font-size-1;

// COLORS
$color-white: white;
$color-black: #3a3a3a;
$color-grey: rgba(128, 128, 128, 0.9);
$color-light-grey: rgba(233, 233, 233, 0.349);
$color-light-green: rgba(36, 135, 113, 0.6);
$color-dark-green: rgba(0, 91, 71, 0.6);
$color-green: #10b894;
$color-orange: #ff6c37;

// BACKGROUNDS
$background-footer: $color-light-green;
$background-footer-absolute: $color-dark-green;
$background-white: $color-white;
$background-card: $color-white;
$background-button: $color-orange;

h1 {
  font-size: $heading-1;
}
h2 {
  font-size: $heading-2;
}
h3 {
  font-size: $heading-3;
}
h4,
a{
  font-size: $heading-4;
}
h5 {
  font-size: $heading-5;
}
p {
  font-size: $text;
}
i, .grey {
  color: $color-grey;
}

h3,
h4,
h5 {
  margin: 0;
}
.icon {
  width: $icon-size;
}

.container {
  display: flex; /* or inline-flex */
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
  }
  &.center-vertical {
    align-items: center;
  }
  &.start {
    justify-content: flex-start;
  }
  &.start-vertical {
    align-items: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
  &.end-vertical {
    align-items: flex-end;
  }
  &.justify {
    justify-content: space-between;
  }
  &.justify-vertical {
    align-items: stretch;
  }

  .item {
    flex: 1 1 auto;
    width: 100%;
    &.margin {
      width: $max-width;
      margin-top: $margin-1;
      margin-bottom: $margin-1;
    }
  }

  .one-third {
    flex: 1 1 33%;
  }
  .two-thirds {
    flex: 1 1 66%;
  }
}

.wrap {
  max-width: $max-width;
  margin: 0 auto;
}

dl dt {
  display: inline;
  margin-right: $margin-3;
  font-weight: bold;
}

section {
  padding-top: $margin-section;
  padding-bottom: $margin-section;
  &:nth-of-type(even) {
    background: $background-white;
  }
}

.about-us {
  padding-top: 0;
  padding-bottom: 0;
  h2 {
    margin-top: 0;
  }
}
footer {
  padding-top: $margin-1;
  padding-bottom: $margin-1;
}
.footer-absolute {
  padding-top: $margin-2;
  padding-bottom: $margin-2;
}

footer {
  background: $background-footer;
}
.footer-absolute {
  background: $background-footer-absolute;
}

.cards > .card:not(:last-of-type),
.items > .item:not(:last-of-type) {
  margin-right: $margin-1;
}

.items .item img,
.overlay, input, textarea{
  border-radius: $border-radius;
  outline: none;
}
.card {
  background: $background-card;
  border-radius: $border-radius;
}

.section {
  margin-bottom: $margin-3;
}

.line:before {
  background-color: rgba(233, 233, 233, 0.527);
  content: "";
  display: inline-block;
  height: 3px;
  vertical-align: middle;
  width: 10%;
  margin-right: 1%;
  border-radius: $border-radius;
}

.white,
.white a {
  color: $color-white;
}

a:hover {
  text-decoration: none;
}

button {
  background: $background-button;
  border: 0;
  border-radius: $border-button;
  padding: $padding-button;
  color: $color-white;
  font-weight: bold;
  font-size: $font-size-5;
  &:focus {
    outline: none;
  }
}

.card-review {
  background: $color-white;
  border-radius: $border-radius;
  max-width: 60%;
}
.card-review-logo {
  object-fit: fit;
  height: 80%;
  max-height: 80px;
}

header {
  background-attachment: fixed;
  background-size: cover;
  background-image: url(assets/images/background.svg);
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;

  nav {
    padding: $margin-4;
    a:hover,
    .a-active {
      border-bottom: 0.2em solid $color-orange;
    }
    a,
    .a-active {
      padding-bottom: $margin-4;
      text-decoration: none;
    }
    a:not(:last-of-type) {
      margin-right: $margin-4;
    }
  }
}

.dot {
  height: $font-size-3;
  width: $font-size-3;
  background-color: $color-light-green;
  border-radius: 50%;
  display: inline-block;
  &.active {
    background-color: $color-white;
  }
}
.dots > .dot:not(:last-of-type){
  margin-right: $font-size-4;
}

textarea{
  width: 100%;
  height: 200px;
  resize: vertical;
}
input, textarea{
  font-size: $font-size-4;
  color: $color-grey;
  padding: $margin-4 $margin-3;
  border: 1px solid $color-grey;
}
form span{
  color:$color-grey;
}